# python cache file
__pycache__
**/__pycache__

# custom bird picture
/images/birds/custom*

# game record and settings
*.db
*.json

# pyinstaller files
*.exe
*.spec
/dist/*
/build/*
/release/*

# tensorboard log files
**/*logs/*

# tensorflow model files
/src/dqn_model/*

# IDE project file
.spyproject
.vscode

# speech files
*.ppt
*.pptx
*.doc
*.docx

!.gitkeep
